<%= form_with model: article, class: "mb-4", html: { multipart: true } do |form| %>
  <div class="mb-3">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div class="alert alert-danger mt-2"><%= message %></div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.label :body, class: "form-label" %>
    <%= form.rich_text_area :body, class: "form-control", rows: 20 %>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div class="alert alert-danger mt-2"><%= message %></div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.label :image, "Article Image", class: "form-label" %>
    <%= form.file_field :image, class: "form-control" %>
    <% article.errors.full_messages_for(:image).each do |message| %>
      <div class="alert alert-danger mt-2"><%= message %></div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.label :status, class: "form-label" %>
    <%= form.select :status, Visible::VALID_STATUSES, 
                   { selected: article.status || 'public' }, 
                   { class: "form-select" } %>
  </div>

  <div class="mb-3">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
